<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image:  url('https://images.unsplash.com/photo-1532592068623-db1978e40df5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzR8fHdlbGxuZXNzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
          height: 300px;
          "></div>
    <!-- Background image -->
   
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5" >
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now</h2>


            <form class="form-group" [formGroup]="registerform" (ngSubmit)="registerinfo()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control"
                     formControlName="firstNm" 
                     [ngClass]="{'is-invalid': submitted && Getcontrol['firstNm'].errors?.['required']}" 
                     />
                        <label class="form-label" for="form3Example1">First name</label>
                        <div *ngIf="submitted && Getcontrol['firstNm'].errors?.['required']" class="invalid-feedback">
                            first name is required
                          </div>
                  </div>
                </div>


                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" formControlName="lastnm"
                    [ngClass]="{'is-invalid': submitted && Getcontrol['lastnm'].errors?.['required']}"
                    />
                    <label class="form-label" for="form3Example2">Last name</label>
                    <div *ngIf="submitted && Getcontrol['lastnm'].errors?.['required']" class="invalid-feedback">
                        last name is required
                      </div>
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" formControlName="email"
                [ngClass]="{'is-invalid': submitted && Getcontrol['email'].errors?.['required']}" 
                />
                <label class="form-label" for="form3Example3">Email address</label>
                <div *ngIf="submitted && Getcontrol['email'].errors?.['required']" class="invalid-feedback">
                    email is required
                  </div>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <!-- ngclass we used because if we want to show error msg then need to bind that error with input field by using ngclass  -->
                <input type="password" id="form3Example4" class="form-control" 
                formControlName="pass"
                [ngClass]="{'is-invalid': submitted && Getcontrol['pass'].errors?.['required']}" 
                />
                
                <label class="form-label" for="form3Example4">Password</label>
                <div *ngIf="submitted && Getcontrol['pass'].errors?.['required']" class="invalid-feedback">
                    password is required
                  </div>
              </div>
  
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
  
              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                 <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> </a> 
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <a href="https://www.google.com/"> <i class="fab fa-google"></i></a>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <a href="https://twitter.com/"><i class="fab fa-twitter"></i> </a>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                 <a href="https://github.com/"><i class="fab fa-github"></i> </a> 
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
